body {
    padding:20px 0 30px;
    font:14px/1.5 Arial, sans-serif;
    color:#333;
    background:cornflowerblue;
}

.title {
    font-size: 3em;
    position: relative;
    display: block;
    margin-bottom: 5px;
    margin-left: 50px;
    color: #548cf3;
    font-weight: 800;
    height: 10px;
    z-index: 1;
}

.card {
    max-width:600px;
    right:10px;
    left:10px;
    -moz-border-radius:10px; 
     border-radius:10px;
}

.card .date {
    font-size:x-large;
    float:left;
}

.card .datepicker {
    width:100%
}

.card .morn_eve {
    font-size:large;
    padding-right:20px;
    float:right;
}

.card .heading {
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    margin-bottom:10px;
}

.card .text {
	white-space:pre-line;
    font-weight:normal;
    text-indent:40px;
}

.card .references {
    font-style:italic;
    color:darkgrey;
    font-size:small;
    margin-top:10px;
    margin-bottom:10px;
}

.card .missing {
    height:200px;
    padding-top:140px;
    font-size:large;
    text-align:center;
}

.drop-shadow {
    position:absolute;
    float:left;
    padding:1em; 
    margin:2em 10px 4em; 
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
}

.drop-shadow p {
    font-size:16px;
    font-weight:bold;
}

/* Lifted corners */

.lifted {
}

.lifted:before,
.lifted:after { 
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);    
       -moz-transform:rotate(-3deg);   
        -ms-transform:rotate(-3deg);   
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
    right:10px; 
    left:auto;
    -webkit-transform:rotate(3deg);   
       -moz-transform:rotate(3deg);  
        -ms-transform:rotate(3deg);  
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}