<div class="content">
  <h1 class="title">{{title}}</h1>
  <div *ngIf="card" class="card">
    <div class="card-heading">
      <div class="columns is-mobile">
        <span class="column">{{card.date}}</span>
        <a class='column is-info has-text-right'
          [innerHTML]="isMorning?'morning':'evening'"
          (click)="toggleMorning()"></a>
      </div>
    </div>
    <div class="card-content">
      <section class="heading"><p [innerHTML]="isMorning?card.morning.heading:card.evening.heading"></p></section>
      <section class="drop-cap" [innerHTML]="(isMorning?card.morning.text:card.evening.text) | format"></section>
    </div>
    <div class="card-footer">
      <span class="is-small" [innerHTML]="isMorning?card.morning.references:card.evening.references"></span>
    </div>
  </div>
  <button class="left button is-info is-large" (click)="priorDay()">&lt;</button>
  <button class="right button is-info is-large" (click)="nextDay()">&gt;</button>
</div>

<div *ngIf="!card" class="card missing notification is-info">
  Missing content
</div>
