body {
  background-color: #6495ed;
  font-family: 'Montserrat', sans-serif;
}

.content {
  position: relative;
  min-height: vh60;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 3em;
  position: relative;
  display: block;
  margin-bottom: 5px;
  margin-left: 50px;
  color: #3578f3;
  font-weight: 700;
  white-space: nowrap;
  height: 10px;
  z-index: 2;
}

.card {
  position: static;
  max-width: 768px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 1em;
  margin: 2em 10px 4em;
  background-color: #e8ebf9;
  overflow-x: hidden;
  box-shadow: 4px 8px 8px;
  -webkit-box-shadow: 4px 4px 8px;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.card-header {
  padding: 10px;
  font-size: 1.3em;
  font-weight: 100;
  white-space: nowrap;
  box-shadow: 0 3px 0px rgba(10, 10, 10, 0.1);
}

.column {
  display: inline-block;
  width: 50%;
}

.has-text-right {
  text-align: right;
}

.card-header .is-fullwidth {
  width: 100%;
}

.card-header a {
  color: #3273dc;
}

.card-header a:hover {
  color: darkslategray;
}

.card-content {
  color: darkslategray;
  min-height: 600px;
  font-weight: 400;
  text-indent: 40px;
  white-space: pre-line;
  padding: 0;
}

.card-content .heading {
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  text-indent: 0;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: .1rem;
}

.card-content .missing {
  position: static;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  text-indent: 0;
  text-align: center;
  white-space: normal;
}

:host ::ng-deep span.lord {
  font-size: small;
}

.card-footer {
  font-style: italic;
  color: darkgrey;
  font-size: small;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #dbdbdb;
}

.references {
  display: inline-block;
  width: 90%;
}

.version {
  display: inline-block;
  color: #3578f3;
  text-align: right;
}

:host ::ng-deep .drop-cap>p:first-child:first-letter {
  float: left;
  font-family: serif;
  font-size: 3.3em;
  line-height: 0.5;
  color: #ed9f64;
  padding: 5px 5px 0 40px
}

:host ::ng-deep .drop-cap>p:first-child {
  text-indent: -8px
}

.button {
  position: fixed;
  display: inline-flex;
  border-radius: 50px;
  opacity: 0.2;
  top: 45%;
  font-size: 1.5rem;
  height: 100px;
  width: 100px;
  background-color: #3273dc;
  color: #fff;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid transparent;
  vertical-align: top;
  padding-right: 0.75em;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.button.left {
  border-radius: 0 50px 50px 0;
  clip: rect(0, 100px, 100px, 55px);
  margin-left: -45px;
  padding-left: 1em;
  padding-right: 0;
}

.button.right {
  border-radius: 50px 0 0 50px;
  clip: rect(0, 45px, 100px, 0px);
  right: 0px;
  margin-right: calc(((100vw - 768px) / 2) - 48px);
  padding-left: 0;
  padding-right: 1em;
}

.button.right.is-mobile {
  margin-right: -45px;
}

.cursor-pointer {
  cursor: pointer;
}

.transition {
  position: relative;
  left: 0;
  opacity: 1;
}

.transition.left {
  left: -200vw;
  opacity: 0;
  transition: left .3s ease-in, opacity .5s;
}

.transition.right {
  left: 200vw;
  opacity: 0;
  transition: left .3s ease-in, opacity .5s;
}

@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important
  }
}

@media print,
screen and (min-width: 769px) {
  .is-hidden-tablet {
    display: none !important
  }
}